.main{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(to right, #C5ADC5, #B2B5E0);
}

.film-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.film-form input{
    padding:1rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
}

.film-form button{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: inherit;
    border: 1px solid;
    border-radius: 5px;
}